body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    margin-top: 50px;
}

li {
    margin: 8px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}